{% extends 'layouts/base.html' %}

{% block content %}
        <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="breadcrumb-header">{{ title }}</h3>
                        <ul class="breadcrumb-tree">
                            <li><a href="#">accounts</a></li>
                            <li class="active">report</li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section small">
			<div class="container">
				<div class="row">
                    <!-- CONTENT PLACEHOLDER -->
                    <h4 style="color: {{ color_x }}">{{ mess_x }}</h4>
                    <ul>
                        <li>{{ login }}</li>
                        <li>{{ pass1 }}</li>
                        <li>{{ pass2 }}</li>
                        <li>{{ email }}</li>
                    </ul>
                    <!-- /CONTENT PLACEHOLDER -->
                </div>
			</div>
		</div>
		<!-- /SECTION -->
{% endblock content %}