{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
        <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">

		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section small">
			<div class="container">
				<div class="row">
                    <!-- CONTENT PLACEHOLDER -->
                    <form id="form-1" action="/accounts/sign_up" method="post" onsubmit="return false">
                        {% csrf_token %}
                        <p>
                            <label for="login">Логин:</label><br>
                            <input type="text" id="login" name="login" class="inp" required>
                            <span id="login_err" class="error"></span>
                        </p>
                        <p>
                            <label for="pass1">Пароль:</label><br>
                            <input type="password" id="pass1" name="pass1" class="inp" required>
                            <span id="pass1_err" class="error"></span>
                        </p>
                        <p>
                            <label for="pass2">Повтор:</label><br>
                            <input type="password" id="pass2" name="pass2" class="inp" required>
                            <span id="pass2_err" class="error"></span>
                        </p>
                        <p>
                            <label for="email">E-mail:</label><br>
                            <input type="email" id="email" name="email" class="inp" required>
                            <span id="email_err" class="error"></span>
                        </p>
                        <p>
                            <input type="submit" id="submit" value="Отправить" class="btn btn-success b">
                            <input type="reset" id="reset" value="Очистить" class="btn btn-primary b">
                        </p>
                    </form>
                    <!-- /CONTENT PLACEHOLDER -->
                </div>
			</div>
		</div>
		<!-- /SECTION -->
        <style>
    .b {
        width: 150px;
        margin-top: 30px;
    }
    .inp {
        width: 30%;
        padding: 5px;
    }
    .small {
        padding: 0;
    }
    #form-1 label {
        font: italic 13pt "Trebuchet MS";
    }
    .error {
        display: block;
        margin-top: 5px;
        color: red;
        font-style: italic;
    }
</style>
        <script src="{% static 'js/sign_up.js' %}"></script>
{% endblock content %}