{% extends 'layouts/base.html' %}


{% block content %}
      <div id="breadcrumb" class="section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="breadcrumb-header">{{ title }}</h3>
                  <ul class="breadcrumb-tree">
                     <li><a href="#">orders</a></li>
                     <li class="active">confirm</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="section small">
         <div class="container">
            <div class="row">
                    <!-- ======== CONTENT PLACEHOLDER ========= -->
                        <table id="orders_table" border="1">
                        <thead>
                            <tr>
                                <th>Заказ</th>
                                <th>Продукт</th>
                                <th>Цена</th>
                                <th>Дата</th>
                                <th>Статус</th>
                                <th>Управление</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in user_orders %}
                                <tr>
                                    <td>{{ order.title }}</td>
                                    <td>{{ order.product.title }}</td>
                                    <td>{{ order.amount }}</td>
                                    <td>{{ order.data }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>
                                        <button class="btn btn-primary">⌀</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        <p class="p1">
                        <button class="btn btn-success">Подтвердить заказ</button>
                        </p>
                    <!-- ======== /CONTENT PLACEHOLDER ========= -->
            </div>
         </div>
      </div>
    <style>
        #orders_table {
            width: 100%;
        }
        #orders_table th {
            text-align: center;
            font-size: 10pt;
            padding: 5px;
            color: darkcyan;
            font-style: italic;
        }
        #orders_table td {
            text-align: center;
            font-size: 10pt;
            padding: 5px;
            color: darkcyan;
            font-style: italic;
        }
        .p1 {
            text-align: center;
            margin: 20px;
        }
    </style>
{% endblock content %}